# 工作流的名称
name: Build and deploy 
# 从工作流生成的工作流运行的名称
run-name: Deploy by @${{ github.actor }}  
# 触发工作流的事件
on:
  push:
    branches: [ main ] # 当 main 分支有新的推送时，此工作流会被启动。
  workflow_dispatch: # 或者手动触发工作流时，此工作流会被启动。
# 当前流程要执行的任务
jobs:
  build:
    # 这部分指定了作业将在 ubuntu-latest 环境下运行。
    runs-on: ubuntu-latest
    # 每个任务下的运行步骤，短横杠 - 表示一个步骤，从上至下依次执行。
    steps:
      - name: checkout # 检出代码
        uses: actions/checkout@v2 # 使用 actions/checkout action 检出代码到工作空间。

      # 这一步安装 Node.js v20。
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '20'
            
      # 清除 npm 缓存
      - name: Clear npm cache
        run: npm cache clean --force

      # 删除 npm 日志文件
      - name: Delete npm logs
        run: |
          rm -rf ~/.npm/_logs

      # 缓存 npm node_modules
      - name: Cache dependencies
        uses: actions/cache@v3
        id: npm-cache
        with:
          path: |
            ~/.npm
            docs/node_modules
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('docs/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-cache-

      # 安装依赖 npm
      - name: Install dependencies
        working-directory: docs
        # 如果没有命中缓存才执行 npm install
        if: steps.npm-cache.outputs['cache-hit'] != 'true'
        run: npm install --force

      # 运行构建脚本
      - name: Run Build Script
        working-directory: docs
        run: |
          npm run build
          cd ..

      - name: Configure Git
        run: |
          git config --global user.name "tunaizi"
          git config --global user.email "tunaizi@163.com"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.BLOG_CONFIG }}
          publish_dir: ./docs/.vuepress/dist
          publish_branch: blog